<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>FilterOne</display-name>
    <filter-name>FilterOne</filter-name>
    <filter-class>com.kyawn.filter.FilterOne</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterOne</filter-name>
    <url-pattern>/FilterOne</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ValidateLogin</display-name>
    <filter-name>ValidateLogin</filter-name>
    <filter-class>com.kyawn.filter.ValidateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateLogin</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>login_page</param-name>
    <param-value>/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>validate_page</param-name>
    <param-value>/Dashboard/index.jsp,/Dashboard/building/view.jsp,/Dashboard/dc/view.jsp,/Dashboard/dorm/view.jsp,/Dashboard/stu/view.jsp,/Dashboard/ListBuilding.do,/Dashboard/ListDorm.do,/Dashboard/ListStu.do</param-value>
  </context-param>
  <context-param>
    <param-name>common_page</param-name>
    <param-value>/index.jsp,/login.jsp,/signup.jsp</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/Check.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/Signup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBuildingServlet</display-name>
    <servlet-name>ListBuildingServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.ListBuildingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBuildingServlet</servlet-name>
    <url-pattern>/Dashboard/ListBuilding.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDormServlet</display-name>
    <servlet-name>ListDormServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.ListDormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDormServlet</servlet-name>
    <url-pattern>/Dashboard/ListDorm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStuServlet</display-name>
    <servlet-name>ListStuServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.ListStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStuServlet</servlet-name>
    <url-pattern>/Dashboard/ListStu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNewsServlet</display-name>
    <servlet-name>ListNewsServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.ListNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewsServlet</servlet-name>
    <url-pattern>/News.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBuildServlet</display-name>
    <servlet-name>EditBuildServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.EditBuildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBuildServlet</servlet-name>
    <url-pattern>/Dashboard/EditBuild.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDormServlet</display-name>
    <servlet-name>EditDormServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.EditDormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDormServlet</servlet-name>
    <url-pattern>/Dashboard/EditDorm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStuServlet</display-name>
    <servlet-name>EditStuServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.EditStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStuServlet</servlet-name>
    <url-pattern>/Dashboard/EditStu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Dashboard/Logout.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DCServlet</display-name>
    <servlet-name>DCServlet</servlet-name>
    <servlet-class>com.kyawn.servlet.DCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DCServlet</servlet-name>
    <url-pattern>/Dashboard/DC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyEmail</display-name>
    <servlet-name>VerifyEmail</servlet-name>
    <servlet-class>com.kyawn.servlet.VerifyEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyEmail</servlet-name>
    <url-pattern>/account/verify</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>com.kyawn.filter.Charset</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>